.before-footer {
  margin: 0;
  padding: 32px 0px 0px 0px;
}

.features-container {
  background: url(../../resources/images/beforefooter-alt.jpeg);
  background-size: cover;
  background-position: 25% 45%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 60px 0px;
  height: 266px;
  align-items: center;
}

.features-list {
  display: flex;
  align-items: center;
}

.circle {
  width: 101px;
  height: 101px;
  background: #0d0d0d;
  border-radius: 50%;
}

.features {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  padding-left: 48px;
}
