.navbar {
  padding: 87px 80px 0px 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid;
  align-items: baseline;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.logo {
  display: flex;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}

.logo img {
  width: 202.54px;
  height: 45px;
  cursor: pointer;
}

.menu-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  padding: 0px 40px 22px 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.menu-item-logout {
  border-radius: 10px;
  padding: 8px 24px;
  background: #951914;
  color: white;
}

.LinkNav {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.LinkNav svg {
  vertical-align: middle;
}

.LinkNav:hover,
.menu-item:hover {
  color: #951914;
}
