@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url(./resources/fonts/Inter/Inter-Bold.ttf) format("truetype");
  font-style: bold;
  font-weight: 900;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url(./resources/fonts/Inter/Inter-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Abril Fatface";
  src: local("Abril"),
    url(./resources/fonts/AbrilFatface/AbrilFatface-Regular.ttf)
      format("truetype");
  font-style: bold;
  font-weight: 900;
}

@font-face {
  font-family: "Arapey";
  src: local("Arapey"),
    url(./resources/fonts/Arapey/Arapey-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  background: #e6e5e2;
  margin: 0;
}
