body {
  margin: 10;
  background-color: #e5e4e1;
 font-family: 'Public Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  background-color: transparent;
  margin: 40px;
  border-bottom: solid 1px black;
}
.nav{
  color: black;
}
.head-title{
  text-align: center;
  font-family: 'DM Serif Display', serif;
}

.card{
  margin: 30px;
  background-color: transparent;
}
.card-title{
 font-family: 'Public Sans', sans-serif;
}

.card button{
  background-color: #951914;
  border: none;
}
.footer{
  height: 100px;
  width: 100%;
}
.footer-img{
object-fit: cover;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
a{
  text-decoration: none;
  color: black;
  font-family: 'Arapey', serif;
}
a:hover{
  color: darkgray;
}
a:active{
  color: darkred;
}
.tagline1{
  font-family: 'DM Serif Display', serif;
/*  entah kenapa font dibawah di laptop ku malah jadi comic sans :(*/
/*  font-family: 'Abril Fatface', cursive;*/
}
p{
  font-family: 'Arapey', serif;
}
form{
  font-family: 'Arapey', serif;
}
.FloatingLabel{
font-family: 'Arapey', serif;
}