.dashboardpage {
  margin-top: 10px;
  padding: 0;
  box-sizing: border-box;
}

.dashboardpage-white {
  margin: 0;
  margin-top: -200px;
  background-color: #87cefa;
  width: 250px;
  height: 920px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.dash-article {
  padding: 10px;
}

.dash-home {
  padding: 10px;
  padding-top: 180px;
  margin-top: 60px;
}

.dash-product {
  padding: 10px;
}

.setting {
  padding: 10px;
}

.keluar {
  padding: 10px;
}

.sideright {
  margin-top: -750px;
  margin-left: 290px;
  background-color: white;
  width: 950px;
  height: 750px;
}

.welcomingwords {
  text-align: center;
  font-family: "Abril Fatface";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
}