.dashboardpage {
  margin-top: 10px;
  padding: 0;
  box-sizing: border-box;
}

.dashboardpage-white {
  margin: 0;
  background-color: white;
  width: 300px;
  height: 620px;
  border-radius: 60px 1px 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.dash-article {
  padding: 10px;
}

.dash-home {
  padding: 10px;
}

.dash-product {
  padding: 10px;
}

.setting {
  padding: 10px;
}

.keluar {
  padding: 10px;
}

.sideright {
  margin-top: -620px;
  margin-left: 310px;
  background-color: white;
  width: 950px;
  height: 620px;
}

.welcomingwords {
  text-align: center;
  font-family: "Abril Fatface";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
}