.title {
  font-family: "Abril Fatface";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 54px;
  text-align: center;
  padding-bottom: 54px;
}

.collection-body {
  padding: 94px 80px;
}

.collection-wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-items: center;
  gap: 80px 354px;
}

.image5 {
  display: flex;
  flex-flow: column;
  width: 400px;
  height: 540px;
  box-shadow: 0px 6px 5px rgba(5, 5, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 0px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 30px;
  padding: 44px;
}
.image5 img {
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-radius: 30px;
  height: 343px;
}

.cart_title {
  font-family: "Abril Fatface";
  font-size: 27px;
  font-weight: bold;
  text-align: center;
}

.price {
  color: #951914;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.info_button {
  background: #171717;
  border-radius: 10px;
  padding: 8px 137px;
}

.info_button a {
  color: #f4f4f4;
  text-decoration: none !important;
  font-family: "Arapey";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}

.info_button:hover {
  background: #951914;
}
